.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(100, 50, 50);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  text-align: center;
  color: rgb(255, 255, 255);

}
#img{
  border-radius: 11%;
}
#button {
  transition-duration: 0.4s;
}

#button:hover {
  background-color: #ff2600; /* Green */
  color: white;
}
#fes{
  color: #f8765f;
}